.train-car-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.Train-car {
  max-width: 250px;
  max-height: 200px;
  position: absolute;
  animation: trainCarAnimation 10s linear infinite;
}

@keyframes trainCarAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  align-items: center;
  padding-top: 5px;
  justify-content: space-around;
  background-color: gray;
  border: solid #fccc0a;
  padding-bottom: 5px;
  border-radius: 15px;
}

.navlink {
  text-decoration: none;
  border: solid black;
  background-color: #fccc0a;
  color: black;
  margin: 5px;
  border-radius: 50%;
  padding: 10px;
}

.navlink:hover {
  transition: 0.9s;
  background-color: #008c15;
}

body {
  background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-06/220616-new-york-subway-train-mta-ew-115p-f71b7a.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  background-color: white;
  max-width: 75%;
  max-height: 100%;
  margin-left: 100px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: solid #fccc0a;
  border-radius: 15px;
  padding: 10px;
}
.logo {
  max-width: 50px;
  max-height: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.CreateUserForm {
  display: flex;
  background-color: gray;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  padding-bottom: 50px;
  border: solid #fccc0a;
  border-radius: 15px;
}
.form {
  display: flex;
  flex-direction: column;
}
.navcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  border-radius: 15px;
}
.button:hover {
  background-color: #fccc0a;
  transition: 0.9s;
}
.title {
  color: white;
}
